%hr/
%section.plan-section#plan-stats
  %h2.col-xs-12
    %span.glyphicon.glyphicon-stats
    Plan Stats
    %a.toggle-section.pull-right{ type: "button", "data-toggle" => "collapse", href: "#plan-stats-content", "aria-expanded" => "false", "aria-controls" => "plan-stats-content" }
      %span.glyphicon.glyphicon-collapse-down
      %span.sr-only click to collapse Plan Stats Section
  #plan-stats-content.collapse.in
    .col-xs-12.col-md-6
      .row.progress-row#required-courses-count
        .progress-stat-label.col-xs-4= "Required Courses"
        .col-xs-8
          .progress
            = @plan.progress_bar_for(:required_course)
      .row.progress-row#distribution-courses-count
        .progress-stat-label.col-xs-4= "Distribution Courses"
        .col-xs-8
          .progress
            = @plan.progress_bar_for(:distribution_requirement)
      .row.progress-row#free-elective-courses-count
        .progress-stat-label.col-xs-4= "Free Elective Courses"
        .col-xs-8
          .progress
            = @plan.progress_bar_for(:free_elective)
      .row.progress-row#total-credits
        .progress-stat-label.col-xs-4= "Total Credits"
        .col-xs-8
          .progress
            = @plan.progress_bar_for(:total_credits)

    .col-xs-12.col-md-6
      .row.plan-stat-row#degree-duration
        .plan-stat-label.col-xs-4= "Degree Duration"
        .col-xs-8= "#{ @plan.statistics.duration_pretty }"
      .row.plan-stat-row#planned-completion
        .plan-stat-label.col-xs-4= "Planned Completion"
        .col-xs-8= "#{ @plan.statistics.planned_completion_date_pretty }"
      .row.plan-stat-row#quarters-remaining
        .plan-stat-label.col-xs-4= "Quarters Remaining"
        .col-xs-8= "#{ @plan.statistics.quarters_remaining }"
      .row.plan-stat-row#problems
        .plan-stat-label.col-xs-4= "Problems"
        .col-xs-8
          = "#{ @plan.statistics.problems_count }"
