%hr/
%section.plan-section#plan-courses
  %h2.col-xs-12
    %span.glyphicon.glyphicon-calendar
    Planned Courses
    %a.toggle-section.pull-right{ type: "button", "data-toggle" => "collapse", href: "#plan-courses-content", "aria-expanded" => "false", "aria-controls" => "plan-courses-content" }
      %span.glyphicon.glyphicon-collapse-down
      %span.sr-only collapse Planned Courses Section
  #plan-courses-content.collapse.in
    .checkbox.col-xs-12.col-md-3.col-md-offset-9
      %label#show-taken-courses-label
        %input#show-taken-courses{ type: "checkbox", value: "show-taken", checked: "checked" }
        show taken courses
    .col-xs-12
      #plan-taken-courses
        - @plan.taken_quarter_sections.each do |taken_quarter_section|
          .quarter
            %h3= taken_quarter_section[:title]
            .quarter-courses
              - index = 0
              - taken_quarter_section[:courses].each do |taken_course|
                - index += 1
                .plan-taken-course.plan-course
                  .plan-taken-course-header
                    = button_to "taken", taken_course_path(taken_course), method: :delete, class: "btn btn-default add-to-taken"
                    %h4= taken_course.full_id
                    %h5= taken_course.title
                  %p.plan-course-description{ lang: "en" }= taken_course.description
              - while index < 3
                - index += 1
                .plan-taken-course.plan-course
      - @plan.planned_quarter_sections.each do |planned_quarter_section|
        .quarter
          %h3= planned_quarter_section[:title]
          .quarter-courses
            - index = 0
            - planned_quarter_section[:courses].each_with_index do |planned_course|
              - index += 1
              .plan-planned-course.plan-course
                .plan-planned-course-header
                  = button_to "unplan", planned_course_path(planned_course), method: :delete, class: "btn btn-default unplan"
                  %h4= planned_course.full_id
                  %h5= planned_course.title
                %p.plan-course-description= planned_course.description
                - problems = @plan.get_problems_for(planned_course)
                - unless problems.size == 0
                  .problems-found
                    %span.glyphicon.glyphicon-warning-sign
                    %span.sr-only Warning!
                    - problems.each do |problem|
                      = content_tag(:p, problem)
            - while index < 3
              - index += 1
              .plan-planned-course.plan-course
                .add-planned-course-area
                  %p No Course Planned
                  %a{ href: new_plan_planned_course_path(plan_id: @plan.id) }
                    %span.glyphicon.glyphicon-plus
                    add
