%section#plan-courses
  %h2.col-xs-12
    %span.glyphicon.glyphicon-calendar
    Planned Courses
    %a.toggle-section.pull-right{ type: "button", "data-toggle" => "collapse", href: "#plan-courses-content", "aria-expanded" => "false", "aria-controls" => "plan-courses-content" }
      %span.glyphicon.glyphicon-collapse-down
      %span.sr-only collapse Planned Courses Section
  #plan-courses-content.collapse.in
    .checkbox.col-xs-12.col-md-3.col-md-offset-9
      %label#show-taken-courses-label
        %input#show-taken-courses{ type: "checkbox", value: "show-taken", checked: "checked" }
        show taken courses
    #plan-taken-courses
      - @plan.taken_quarter_sections.each do |taken_quarter_section|
        %h3.col-xs-12= taken_quarter_section[:title]
        - taken_quarter_section[:courses].each do |taken_course|
          .col-xs-12.col-md-4.plan-taken-course
            %h4= taken_course.full_id
            %h5= taken_course.title
            %p.plan-course-description{ lang: "en" }= taken_course.description
    - @plan.planned_quarter_sections.each do |planned_quarter_section|
      %h3.col-xs-12= planned_quarter_section[:title]
      - planned_quarter_section[:courses].each do |planned_course|
        .col-xs-12.col-md-4.plan-planned-course
          %h4= planned_course.full_id
          %h5= planned_course.title
          %p.plan-course-description= planned_course.description
          - problems = @plan.get_problems_for(planned_course)
          - unless problems.size == 0
            .problems-found
              %span.glyphicon.glyphicon-warning-sign
              %span.sr-only Warning!
              - problems.each do |problem|
                = content_tag(:p, problem)
