= content_for :description, "{ @user.name }'s Course Planning Dashboard"
.row
  %h1
    = "#{ @user.name }'s Degree Status"
    %h2 Degree Status:
    %ul
      %li= "Required Courses: #{@user.degree_statistics.required_course_count_pretty}"
      %li= "Distribution Requirement Courses: #{@user.degree_statistics.distribution_requirement_count_pretty}"
      %li= "Free Elective Courses: #{@user.degree_statistics.free_elective_count_pretty}"
      %li= "TOTAL: #{@user.degree_statistics.total_credits_count_pretty}"
    %h2 Taken Courses:
    %table.table
      %tbody.taken-courses
        = render @taken_courses
