%div{ id: "planned-course-form" }
= simple_form_for(@planned_course) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden :plan_id
    = f.hidden :course_id
    = f.input :quarter

  .form-actions
    = f.button :submit
