%h1 Listing planned_courses

%table
  %tr
    %th Plan
    %th Course
    %th Quarter
    %th
    %th
    %th

  - @planned_courses.each do |planned_course|
    %tr
      %td= planned_course.plan_id
      %td= planned_course.course_id
      %td= planned_course.quarter
      %td= link_to 'Show', planned_course
      %td= link_to 'Edit', edit_planned_course_path(planned_course)
      %td= link_to 'Destroy', planned_course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Planned course', new_planned_course_path
