%td
  %h2
    = link_to "#{course.department} #{course.level}", course
    = link_to('edit', edit_course_path(course), class: 'button-xs')
    - unless TakenCourse.already_taken?(current_user, course)
      = link_to('I Took This', new_user_taken_course_path(current_user, course), class: 'button-xs')
  %h3= course.title

  %p.course-description= course.description