%td
  %h2
    = link_to "#{course.department} #{course.level}", course
    - unless current_user.has_taken?(course)
      = link_to 'took this',
        new_user_taken_course_path(current_user, course_id: course.id),
        remote: true, class: 'button-xs',
        'data-toggle' =>  "modal", 'data-target' => '#took-this-modal'
    - if current_user.admin?
      = link_to 'edit', edit_course_path(course), class: 'button-xs'
      = link_to 'delete', course_path(course), method: :delete,
        class: 'button-xs',
        data: { confirm: "Are you sure you want to delete course: #{course.title}?" }
  %h3= course.title
  %p.course-description= course.description