%h2.list-group-item-heading
  = content_tag(:small, "#{course.department} #{course.level}")
  %span{ class: "#{degree_requirement_for(course).sub(/ /, '-') }" }
    = degree_requirement_for(course)
  = course.title
.list-group-item-text
  %p
    -if current_user.try(:admin?)
      = link_to "edit",
        edit_course_path(course),
        class: "button"
      = link_to "delete",
        course,
        method: :delete,
        class: "button",
        data: { confirm: "Are you sure you want to delete course: #{course.title}?" }
  %p.course_description= course.description
  %p.course_corequisite= "Corequisites: #{course.corequisite}"
  %p.course_prerequisite= "Prerequisites: #{course.prerequisite}"
  - if user_signed_in? # i.e., don't show these buttons to visitors
    = taken_course_button(current_user, active_plan, course)
    = planned_course_button(current_user, active_plan, course)
.clearfix

