.index-course-content
  %h2
    = link_to "#{course.department} #{course.level}", course
    = degree_requirement_label_for(course)

  - if current_user.admin?
    = link_to 'edit', edit_course_path(course), class: 'button-xs'
    = link_to 'delete', course_path(course),
      method: :delete,
      class: 'button-xs',
      data: { confirm: "Are you sure you want to delete course: #{course.title}?" }
  %h3= course.title
  %p.index-course-description= truncated_description_for(course)
- if show_new_taken_course_button?(course)
  = button_to "took this",
    new_user_taken_course_path(user_id: current_user.id, course_id: course.id),
    remote: true,
    method: :get,
    class: 'took-this'
- else
  %button{ class: "taken", disabled: "disabled" }
    &nbsp;&nbsp;taken&nbsp;&nbsp;
