%h2.list-group-item-heading
  = "#{course.department} #{course.level}"
  %span{ class: "#{degree_requirement_for(course).sub(/ /, '-') }" }
    = degree_requirement_for(course)
  = course.title
.list-group-item-text
  %p= course.description
  - if taken?(course)
    = button_to "taken",
      new_user_taken_course_path(user_id: current_user.id, course_id: course.id),
      remote: true,
      method: :get,
      class: 'new-taken-course-button'
  - elsif current_user
    %button.new-taken-course-button-disabled{ disabled: true }
      taken
