%h2.list-group-item-heading
  = "#{course.department} #{course.level}"

  %span{ class: "#{degree_requirement_for(course).sub(/ /, '-') }" }
    = degree_requirement_for(course)

  = course.title
.list-group-item-text
  %p
    -if current_user.try(:admin?)
      = link_to "edit",
        edit_course_path(course),
        class: "button"
      = link_to "delete",
        course,
        method: :delete,
        class: "button",
        data: { confirm: "Are you sure you want to delete course: #{course.title}?" }
  %p.course_description= course.description
  - if taken?(course, taken_course_ids)
    %button.new-taken-course-button-disabled{ disabled: true }
      taken
  - elsif current_user
    = button_to "taken",
      new_user_taken_course_path(user_id: current_user.id, course_id: course.id),
      remote: true,
      method: :get,
      class: "new-taken-course-button"


