%h2.list-group-item-heading
  = content_tag(:small, "#{course.department} #{course.level}")
  %span{ class: "#{degree_requirement_for(course).sub(/ /, '-') }" }
    = degree_requirement_for(course)
  = course.title
.list-group-item-text
  %p
    -if current_user.try(:admin?)
      = link_to "edit",
        edit_course_path(course),
        class: "button"
      = link_to "delete",
        course,
        method: :delete,
        class: "button",
        data: { confirm: "Are you sure you want to delete course: #{course.title}?" }
  %p.course_description= course.description
  - if user_signed_in?
    - if show_enabled_taken_button?(current_user, active_plan, course)
      = button_to "taken",
        new_user_taken_course_path(user_id: current_user.id, course_id: course.id),
        remote: true,
        method: :get,
        class: "btn btn-primary taken-course-button"
    - else
      %button.btn.btn-default.taken-course-button{ disabled: true }
        taken
    - if show_add_to_plan_button?(active_plan, course)
      = button_to "add to plan",
        new_plan_planned_course_path(plan_id: active_plan.id, course_id: course.id),
        remote: true,
        method: :get,
        class: "btn btn-primary planned-course-button"
    - elsif show_unplan_button?(active_plan, course)
      = button_to "unplan", path_to_planned_course(active_plan, course), method: :delete, class: "btn btn-default"
    - else
      %button.btn.btn-default.planned-course-button{ disabled: true }
        planned
.clearfix

