= content_for :description, 'Course Listings'
= content_for :title, 'Courses'

%section.courses-section
  .col-xs-12.col-md-8.col-md-offset-2
    %h1
      = glyphicon("th-list") + " Courses"
      = show_new_course_button_if_admin

  .col-xs-12.col-md-8.col-md-offset-2
    %ul.list-group
      - @courses.each do |course|
        %li.list-group-item{ class: "#{course_available_class(current_user, @active_plan, course)}" }
          = render course, active_plan: @active_plan
