-content_for :title, @course.full_id
-content_for :description, "A detailed view of #{@course.full_id}"
.row
  .col-md-12
    .breadcrumb
      = link_to 'Courses', courses_path
      &#47
      = @course.full_id
    %h1.course-full-id= @course.full_id
    %h2.course-title= @course.title
    .course-description= @course.description
    .course-degree-requirement= @course.degree_requirement.humanize.titleize
    - if current_user.try(:admin?)
      = button_to 'edit', edit_course_path(@course), class: 'button-xs'
      = button_to 'delete',
        course_path(@course),
        method: :delete,
        class: 'button-xs',
        data: { confirm: "Are you sure you want to delete course: #{@course.title}?" }
    - unless TakenCourse.already_taken?(user: current_user, course: @course)
      .took-this
        = link_to 'I Took This', new_user_taken_course_path(course_id: @course.id, user_id: current_user.id)
