.authform
  = simple_form_for [@plan.user, @plan] do |f|
    %h3 New Plan
    = f.error_notification
    .form-inputs
      .form-group
        = f.hidden_field :user_id
        = f.input :name, autofocus: true, class: 'form-control'
        .checkbox= f.input :active

    .form-actions
      = f.button :submit, class: 'button'
