- content_for :title, 'New Plan'
- content_for :description, 'Form for creating a new plan.'
= simple_form_for([@plan.user, @plan]) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id
    = f.input :name

  .form-actions
    = f.button :submit
