= form_for @plan.form_model, html: { role: 'form' } do |f|
  %h3.form-title New Plan
  = f.hidden_field :user_id, class: 'hidden'
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: 'form-control'
  = f.submit plan_decorator.submit_text, class: 'btn btn-primary btn-block'
