%section#plan-stats
  %h2.col-xs-12
    %span.glyphicon.glyphicon-stats
    Plan Stats
    %a.toggle-section.pull-right{ type: "button", "data-toggle" => "collapse", href: "#plan-stats-content", "aria-expanded" => "false", "aria-controls" => "plan-stats-content" }
      %span.glyphicon.glyphicon-collapse-down
      %span.sr-only click to collapse Plan Stats Section
  #plan-stats-content.collapse.in
    %ul.col-xs-12.col-md-5.col-md-offset-1.list-unstyled
      %li#required-courses-count
        = "Required Courses"
        .progress
          = @plan.progress_bar_for(:required_course)
      %li#distribution-courses-count
        = "Distribution Courses"
        .progress
          = @plan.progress_bar_for(:distribution_requirement)
      %li#free-elective-courses-count
        = "Free Elective Courses"
        .progress
          = @plan.progress_bar_for(:free_elective)
      %li#total-credits
        = "Total Credits"
        .progress
          = @plan.progress_bar_for(:total_credits)

    %ul.col-xs-12.col-md-5.col-md-offset-1.list-unstyled
      %li#degree-duration
        = "Degree Duration #{ @plan.statistics.duration_pretty }"
      %li#planned-completion
        = "Planned Completion #{ @plan.pretty_planned_completion }"
      %li#quarters-remaining
        = "Quarters Remaining #{ @plan.statistics.quarters_remaining }"
      %li#problems
        = "Problems: #{ @plan.pretty_problems_count }"
        %span.glyphicon.glyphicon-question-sign
        %span.sr-only problems tooltip
