%section
  %h2.col-xs-12
    %span.glyphicon.glyphicon-stats
    Plan Stats
    %a.toggle-section.pull-right{ type: "button", "data-toggle" => "collapse", href: "#plan-stats", "aria-expanded" => "false", "aria-controls" => "plan-stats" }
      %span.glyphicon.glyphicon-collapse-down
      %span.sr-only click to collapse Plan Stats Section
  #plan-stats.collapse.in
    %ul.col-xs-12.col-md-5.col-md-offset-1.list-unstyled
      %li
        = "Required Courses"
        .progress
          = @plan.progress_bar_for(:required_course)
      %li
        = "Distribution Courses"
        .progress
          = @plan.progress_bar_for(:distribution_requirement)
      %li
        = "Free Elective Courses"
        .progress
          = @plan.progress_bar_for(:free_elective)
      %li
        = "Total Credits"
        .progress
          = @plan.progress_bar_for(:total_credits)

    %ul.col-xs-12.col-md-5.col-md-offset-1.list-unstyled
      %li= "Degree Duration #{ @plan.pretty_duration }"
      %li= "Planned Completion #{ @plan.pretty_planned_completion }"
      %li= "Quarters Remaining #{ @plan.statistics.quarters_remaining }"
      %li
        - #TODO: Implement this
        = "Problems: 4"
        %span.glyphicon.glyphicon-question-sign
        %span.sr-only problems tooltip
