%h3.taken-quarter-title= taken_quarter[:title].to_s
.taken-quarter-content{ "id" => "taken-quarter-#{ taken_quarter[:code] }", "role" => "tablist", "aria-multiselectable" => "true" }
  .taken-quarter-courses
    - taken_quarter[:courses].each do |taken_course|
      .taken-quarter-heading{ "role" => "tab", "id" => "#{ taken_course.course.short_id }-heading" }
        %h4.taken-quarter-course-short-description
          %a.taken-quarter-course-short-description-content{ "data-toggle" => "collapse", "data-parent" => "#taken-quarter-#{ taken_quarter[:code] }", "href" => "#taken-quarter-#{ taken_course.course.short_id }-course-details", "aria-expanded" => "false", "aria-controls" => "taken-quarter-#{ taken_course.course.short_id }-course-details"}
            %span.taken-quarter-course-title= taken_course.course.full_id
            %span.taken-quarter-course-grade= taken_course.grade
      .taken-quarter-course-details{ "id" => "taken-quarter-#{ taken_course.course.short_id }-course-details", "role" => "tabpanel", "aria-labeledby" => "#{ taken_course.course.short_id }-heading" }
        .taken-quarter-course-long-description= taken_course.course.description
