- provide :title, @plan.name
- provide :description, "User #{@plan.user.email}'s '#{@plan.name}' degree plan."
%h1.col-xs-12
  = "\"#{ @plan.name }\""
  %span.small= link_to 'change', user_plans_path(@plan.user)
= render partial: "plan_stats", locals: { plan: @plan }
= render partial: "plan_courses", locals: { plan: @plan }
