- content_for :title, @plan.name
- content_for :description, "User #{@plan.user.email}'s #{@plan.name} degree plan."
%h2= "\"#{@plan.name}\""
- @plan.user.taken_quarters.each do |quarter|
  = render 'quarter', quarter: quarter, user: @plan.user

= link_to 'Edit', edit_plan_path(@plan)
\|
= link_to 'Back', user_plans_path(@plan.user)
