#taken-course-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for(@taken_course.form_model,                  |
        remote: true,                                       |
        html: { class: 'modal-form', role: 'form' }) do |f| |
        .modal-header
          %button.close{"data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} &#215;
            %span.sr-only Close
          %h4#modal-label.modal-title
            = @taken_course.modal_title
        .modal-body
          .authform
            #taken-course-modal-errors
            = f.hidden_field :course_id, class: 'hidden'
            = f.hidden_field :user_id, class: 'hidden'
            .form-group
              = f.label :quarter, class: 'control-label'
              = f.text_field :quarter, autofocus: true, class: 'form-control'
            .form-group
              = f.label :grade, class: 'control-label'
              = f.collection_select :grade, |
                grade_options,              |
                :first,                     |
                :first,                     |
                prompt: true,               |
                class: 'form-control'       |
        .modal-footer
          %button.modal-cancel-button{"data-dismiss" => "modal", :type => "button"}
            Cancel
          = f.submit @taken_course.submit_text, |
            class: 'modal-accept-button',       |
            disable_with: "Submitting",         |
            html: { type: 'button' }            |
