<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="took-this-modal-Label">
        <%= @taken_course.course.title %>
      </h4>
    </div>
    <div class="modal-body">
      <%= form_for([@taken_course.user, @taken_course], html: { class: 'modal-form', role: 'form' }) do |f| %>
        <% if @taken_course.errors.any? %>
        <ul>
          <% @taken_course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <% end %>
        <div class="hidden">
          <%= f.hidden_field :course_id %>
        </div>
        <div class="hidden">
          <%= f.hidden_field :user_id %>
        </div>
        <div class="form-group">
          <%= f.label :quarter, class: 'control-label' %>
          <%= f.text_field :quarter, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :grade, class: 'control-label' %>
          <%= f.collection_select :grade, grade_options, :first, :first, prompt:  true, class: 'form-control' %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-cancel-button" data-dismiss="modal">
        Cancel
      </button>
          <%= f.submit 'Add', class: 'modal-accept-button' %>
      <% end %>
    </div>
  </div>
</div>