%tr{ id: "#{taken_course.short_id}" }
  %td
    = taken_course.quarter
  %td
    = taken_course.full_id
  %td
    = link_to "edit",                             |
      edit_taken_course_path(taken_course),       |
      remote: true,                               |
      class: "btn btn-xs",                         |
      id: "edit-#{taken_course.short_id}"  |
  %td
    = link_to "remove",                   |
      taken_course_path(taken_course),    |
      data: { confirm: "Are you sure?" }, |
      method: :delete,                    |
      class: "btn btn-xs"                  |
